body {
    background-image: url('imagenes/imagenFondoLoggin.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.container {
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo negro menos transparente */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6); 
    border-radius: 14px;
    color: white;
}
